body {
    font-family:Sans;
}

.logo {
	float:right;
	padding:10px;
}

h1 {
	size: 1.5ex;
}

h1 {
	size: 1.2ex;
}

h1, h2 {
    color:#444;
}

li {
    padding-bottom:3px;
    list-style:none;
}

ul {
	padding:0;
}

li:before {
    content:"\00BB";
    padding-right:2px;
}

a {
    text-decoration:none;
    color:#5040FF;
}

a:hover {
    text-decoration:underline;
}

div.help {
	background: #EEE;
	display:none;
	margin-left:5%;
	margin-right:5%;
	margin-top:1em;
	margin-bottom:1em;
	border: thin grey solid;
}

span.description {
    display:block;
	padding:1em;
	border-bottom:1px grey solid;
}

div.help table {
    margin:1em;
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
    width:auto;
}

thead {
	font-weight:bold;
}

thead td {
    border-bottom:1px grey solid;
}

span.size {
	font-size: 80%;
	font-style: italic;
	color: #aaa;
}

.error {
	color:RED;
    font-weight: bold;
    font-size: 2em;
}

table.stats td:first-child {
	text-align:right;
	padding-right:6px;
	font-weight:bold;
}

table {
	border-collapse: collapse;
}

table.stats {
	border:none;
}

table.stats td {
	border:none;
}

table.stats th {
	border:none;'
}


td, th
{
	border:1px solid grey;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
}

td:first-child, th:first-child {
	text-align:right;
}

table.stats td:nth-child(2) {
	text-align:left;
}

tr:hover
{
	background:#CCC;
}

.comment
{
	font-style: italic;
	text-align:left;
	background:#eee;
}

div.warning {
	margin-top:15px;
	border-top: 2px #920 solid;
	color:#920;
}