<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
      point="org.eclipse.core.runtime.preferences">
    <initializer
        class="cse.nhm.ide.ui.PluginPreferences">
    </initializer>
  </extension>
  
  <extension
      id="nhmBuilder"
      name="NHM Scenario Validator"
      point="org.eclipse.core.resources.builders">
    <builder
        hasNature="true">
      <run
          class="cse.nhm.ide.ui.builder.NHMBuilder">
      </run>
    </builder>
  </extension>
  <extension
      id="nhmNature"
      name="NHM Project Mode"
      point="org.eclipse.core.resources.natures">
    <runtime>
      <run
          class="cse.nhm.ide.ui.builder.NHMNature">
      </run>
    </runtime>
    <builder
        id="cse.nhm.ide.ui.nhmBuilder">
    </builder>
  </extension>
  <extension
      point="org.eclipse.ui.commands">
    <category
        id="cse.nhm.ide.ui.nhmNature.category"
        name="NHM Commands">
    </category>
  </extension>
  <extension
      id="scenarioProblem"
      name="Scenario Problem"
      point="org.eclipse.core.resources.markers">
    <super
        type="org.eclipse.core.resources.problemmarker">
    </super>
    <persistent
        value="true">
    </persistent>
    <super
          type="org.eclipse.core.resources.textmarker">
    </super>
  </extension>
  <extension
      point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
        <dynamic
              class="cse.nhm.ide.ui.VersionSwitchingMenu"
              id="cse.nhm.ide.ui.versionSwitcherMenu">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <and>
                       <instanceof
                             value="org.eclipse.core.resources.IProject">
                       </instanceof></and>
                 </iterate>
              </with>
           </visibleWhen>
        </dynamic>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.ui.main.toolbar?after=org.eclipse.ui.workbench.navigate">
        <toolbar
              id="cse.nhm.ide.ui.runner.toolbar"
              label="NHM">
           <command
                 commandId="cse.nhm.ide.ui.editor.indent"
                 icon="icon/brace-file.gif"
                 label="Re-indent source"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="cse.nhm.ide.ui.expressions.inEditor">
                 </reference>
              </visibleWhen>
           </command>
           <command
                 commandId="cse.nhm.ide.ui.editor.barf"
                 icon="icon/left-bar.gif"
                 label="Eject last argument from this expression"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="cse.nhm.ide.ui.expressions.inEditor">
                 </reference>
              </visibleWhen>
           </command>
           <command
                 commandId="cse.nhm.ide.ui.editor.slurp"
                 icon="icon/right-bar.gif"
                 label="Absorb next sibling as argument to this expression "
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="cse.nhm.ide.ui.expressions.inEditor">
                 </reference>
              </visibleWhen>
           </command>
        </toolbar>
     </menuContribution>
    
  </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="cse.nhm.ide.ui.PerspectiveFactory"
           icon="icon/house.png"
           id="cse.nhm.ide.ui.scenarioPerspective"
           name="NHM">
     </perspective>
  </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="cse.nhm.ide.ui.expressions.isScenario">
        <adapt
              type="org.eclipse.core.resources.IResource">
           <test
                 property="org.eclipse.core.resources.extension"
                 value="nhm">
           </test>
        </adapt>
     </definition>
     <definition
           id="cse.nhm.ide.ui.expressions.selectionIsScenario">
        <with
              variable="selection">
           <iterate
                 ifEmpty="false"
                 operator="or">
              <reference
                    definitionId="cse.nhm.ide.ui.expressions.isScenario">
              </reference>
           </iterate>
        </with>
     </definition>
     <definition
           id="cse.nhm.ide.ui.expressions.inEditor">
        <with
              variable="activeEditorId">
           <equals
                 value="cse.nhm.ide.ui.scenarioEditor">
           </equals>
        </with>
     </definition>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="cse.nhm.ide.ui.wizards"
           name="National Household Model">
     </category>
     <wizard
           category="cse.nhm.ide.ui.wizards"
           class="cse.nhm.ide.ui.wizards.NHMProjectWizard"
           finalPerspective="cse.nhm.ide.ui.scenarioPerspective"
           icon="icon/house.png"
           id="cse.nhm.ide.ui.newproject"
           name="Scenario Project"
           project="true">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <commonWizard
           type="new"
           wizardId="cse.nhm.ide.ui.newproject">
        <enablement>
           <or></or>
        </enablement>
     </commonWizard>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="cse.nhm.ide.ui.NHMPreferencePage"
           id="cse.nhm.ide.ui.preferences"
           name="NHM Settings">
     </page>
  </extension>
</plugin>
