div, span, p, td {
	font-family: Arial, sans-serif;
}

section {
    border-color: #EAEAEA;
    border-image: none;
    border-style: none none none solid;
    border-width: 1px;
    padding: 15px;
    display:inline-block;
    vertical-align:top;
}

#data_choice {
    font-size:14pt;
}

#legend {
	background-color: white;
    color: #404040;
    font-size:12pt;
}

#legend ul {
    height:170px;
}

#legend span {
    display:inline-block;
}

#legend span:hover {
    color:NAVY;
}

#legend .action {
	color: black;
	opacity: 0.7;
}

label.disabled {
	opacity: 0.4;
}

.toggler input[type=radio] {
    display:none;
}

.toggler input[type=radio]:checked  + label {
    outline: 2px solid steelblue;
}
.toggler label {
	display: inline-block;
	padding: 27px 0 0 0;
	width: 39px;
    height: 0px;
	text-align: center;
	font-size: 10px;
	color: #808080;
	background-repeat: no-repeat;
	position: relative;
	margin: 0px 7px 0px 7px;
	cursor: pointer;
}

label[for="identity"] {
    background-image: url("./images/data_normal.png");
}

label[for="gradient"] {
    background-image: url("./images/data_gradient.png");
}

label[for="integral"] {
    background-image: url("./images/data_area.png");
}

span.disabled {
    visibility:collapse;
}

#chart path {
	-webkit-transition: opacity 0.2s linear;
}

.rickshaw_annotation_timeline .annotation .content {
	width:400px;
}
