<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<importRequest>
	<importItems>
		<importItem>
			<className>uk.org.cse.nhm.ehcs10.derived.impl.Physical_09Plus10EntryImpl</className>
			<fileName>\\derived\\physical_09plus10.sav</fileName>
		</importItem>
		
		<importItem>
			<className>uk.org.cse.nhm.ehcs10.derived.detailed.impl.Dimensions_09Plus10EntryImpl</className>
			<fileName>e:\\JavaProjects\nhm-projects\\stockImport-trunk\\nhm-stockimport-engine\\src\\test\\resources\\ehsSPSS2010\\derived\dimensions_09plus10.sav</fileName>
		</importItem>
		
		 <importItem>
			<className>uk.org.cse.nhm.ehcs10.physical.impl.InteriorEntryImpl</className>
			<fileName>e:\\JavaProjects\nhm-projects\\stockImport-trunk\\nhm-stockimport-engine\\src\\test\\resources\\ehsSPSS2010\\physical\\interior.sav</fileName>
		</importItem>
		
		<importItem>
			<className>uk.org.cse.nhm.ehcs10.physical.impl.Firstimp_PhysicalEntryImpl</className>
			<fileName>e:\\JavaProjects\nhm-projects\\stockImport-trunk\\nhm-stockimport-engine\\src\\test\\resources\\ehsSPSS2010\\physical\\firstimp_physical</fileName>
		</importItem>
		
		<importItem>
			<className>uk.org.cse.nhm.ehcs10.physical.impl.ShapeEntryImpl</className>
			<fileName>e:\\JavaProjects\nhm-projects\\stockImport-trunk\\nhm-stockimport-engine\\src\\test\\resources\\ehsSPSS2010\\physical\\shape.sav</fileName>
		</importItem>
		
		<importItem>
			<className>uk.org.cse.nhm.ehcs10.physical.impl.IntroomsEntryImpl</className>
			<fileName>e:\\JavaProjects\nhm-projects\\stockImport-trunk\\nhm-stockimport-engine\\src\\test\\resources\\ehsSPSS2010\\physical\\introoms.sav</fileName>
		</importItem>
		
		<!-- 
		<importItem>
			<className>uk.org.cse.nhm.ehcs10.interview.impl.FirstimpEntryImpl</className>
			<fileName>\interview\firstimp.sav</fileName>
		</importItem>		
		 -->
		
	</importItems>
</importRequest>